<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title>chatRooms</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <form class="form-signing" th:action="@{/chatRoom/new}" th:object="${chatRoomForm}" method="post">
    <h2 class="form-signing-heading">새로운 채팅방 생성</h2>
    <label for="roomName">채팅방 이름</label>
    <input id="roomName" type="text" th:field="*{roomName}" class="form-control" placeholder="채팅방 이름을 입력해주세요" required autofocus>
    <small class="form-text text-danger" th:if="${#fields.hasErrors('roomName')}" th:errors="*{roomName}">RoomName Error</small>
    <br>
    <button class="btn btn-primary" type="submit">생성하기</button>
  </form>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>