<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/signin.css}" rel="stylesheet">
</head>
<body class="text-center">
    <div th:if="${param.error}" class="alert alert-danger" role="alert">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}" class="alert alert-primary" role="alert">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <img class="mb-4" src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo.svg"
             alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="login_email_id"
                   name="login_email_id" placeholder="name@example.com">
            <label for="login_email_id">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password"
                   name="password" placeholder="Password">
            <label for="password">Password</label>
        </div>

<!--        <div class="checkbox mb-3">-->
<!--            <label>-->
<!--                <input type="checkbox" value="remember-me"> Remember me-->
<!--            </label>-->
<!--        </div>-->
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
    <a href="/members/new">회원가입을 아직 하지 않으셨나요?</a>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>