<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!--<head>-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
<!--</head>-->
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" th:object="${postDto}">
        <div class="form-group">
            <label th:for="postId">글 ID</label>
            <input type="text" th:field="*{postId}" class="form-control"
                   th:value="${postDto.postId}" readonly>
        </div>
        <div class="form-group">
            <label th:for="nickname">작성자</label>
            <input type="text" th:field="*{nickname}" class="form-control"
                   th:value="${postDto.nickname}" readonly>
        </div>
        <div class="form-group">
            <label th:for="views">조회수</label>
            <input type="text" th:field="*{views}" class="form-control"
                   th:value="${postDto.views}" readonly>
        </div>
        <div class="form-group">
            <label th:for="likes">공감수</label>
            <input type="text" th:field="*{likes}" class="form-control"
                   th:value="${postDto.likes}" readonly>
        </div>
        <div class="form-group">
            <label th:for="postdate">작성일</label>
            <input type="text" th:field="*{postDate}" class="form-control"
                   th:value="${postDto.postDate}" readonly>
        </div>
        <div class="form-group">
            <label th:for="title">글 제목</label>
            <input type="text" th:field="*{title}" class="form-control"
                   th:value="${postDto.title}" readonly>
        </div>
        <div class="form-group">
            <label th:for="content">글 내용</label>
            <textarea cols="150" rows="10" id="contents" th:field="*{content}"
                      class="form-control" th:value="${postDto.content}" readonly>
            </textarea>
        </div>
        <br/>
        <div class="row">
            <div class="col">
                <a href="#" th:if="${user.getUsername().equals(postDto.getMemberLoginId())}"
                   th:href="@{/posts/{id}/edit (id=${postId})}"
                   class="btn btn-primary" role="button">수정</a>
            </div>
        </div>
    </form>
    <form role="form" th:object="${postDto}"
          th:if="${user.getUsername().equals(postDto.getMemberLoginId())}"
          th:action="@{/posts/{id}/delete (id=${postId})}"
          method="post">
        <div class="col">
            <input type="hidden" value="delete"/>
            <button id="delete-post" class="btn btn-primary">삭제</button>
        </div>
    </form>
    <form role="form" th:action="@{/posts/{postId}/clickPostLikes (postId=${postId})}"
          method="post">
        <button>
            <img src="/images/like.png" alt="like" width="32" height="32">
        </button>
    </form>
    <br/>
</div> <!-- /container -->

<hr>
<hr>

<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>작성자</th>
            <th>내용</th>
            <th>공감수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="commentDto : ${commentDtos}">
            <td th:text="${commentDto?.id}"></td>
            <td th:text="${commentDto?.nickname}"></td>
            <td th:text="${commentDto?.content}"></td>
            <td th:text="${commentDto?.likes}"></td>
            <td>
                <a th:if="${user.getUsername().equals(commentDto.getCommentUserLoginId())}"
                   th:href="@{/comments/{id}/update (id=${commentDto.id})}"
                   class="btn btn-primary" role="button">수정</a>
            </td>
            <td>
                <form role="form"
                      th:if="${user.getUsername().equals(commentDto.getCommentUserLoginId())}"
                      th:action="@{/comments/{id}/delete (id=${commentDto.id})}" method="post">
                    <input type="hidden" value="delete"/>
                    <button id="delete-comment" class="btn btn-primary">삭제</button>
                </form>
            </td>
            <td>
                <form role="form"
                      th:action="@{/posts/{commentId}/clickCommentLikes (commentId=${commentDto.id})}"
                      method="post">
                    <button>
                        <img src="/images/like.png" alt="like" width="32" height="32">
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<hr>
<form role="form" th:object="${commentForm}" th:action="@{/posts/{id}/createComment (id=${postId})}"
      style="text-align: center" method="post">
    <div class="col" style="display: inline-block">
        <input type="text" class="comment-control" id="input_text" th:value="${commentForm.content}"
               th:field="*{content}" placeholder="댓글을 입력하세요" style="width:250px;height:150px;"
               th:class="${#fields.hasErrors('content')}? 'form-control fieldError' : 'form-control'"/>
        <button id="commentBtn" class="btn btn-primary">작성</button>
        <p th:if="${#fields.hasErrors('content')}"
           th:errors="*{content}">Incorrect date</p>
    </div>
</form>
</body>
<div th:replace="fragments/footer :: footer" />
</html>