<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!--<head>-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
<!--</head>-->
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" th:object="${postDto}">
        <div class="form-group">
            <label th:for="postId">글 ID</label>
            <input type="text" th:field="*{id}" class="form-control"
                   th:value="${postDto.id}" readonly>
        </div>
        <div class="form-group">
            <label th:for="nickname">작성자</label>
            <input type="text" th:field="*{nickname}" class="form-control"
                   th:value="${postDto.nickname}" readonly>
        </div>
        <div class="form-group">
            <label th:for="views">조회수</label>
            <input type="text" th:field="*{views}" class="form-control"
                   th:value="${postDto.views}" readonly>
        </div>
        <div class="form-group">
            <label th:for="likes">공감수</label>
            <input type="text" th:field="*{likes}" class="form-control"
                   th:value="${postDto.likes}" readonly>
        </div>
        <div class="form-group">
            <label th:for="postdate">작성일</label>
            <input type="text" th:field="*{postDate}" class="form-control"
                   th:value="${postDto.postDate}" readonly>
        </div>
        <div class="form-group">
            <label th:for="title">글 제목</label>
            <input type="text" th:field="*{title}" class="form-control"
                   th:value="${postDto.title}" readonly>
        </div>
        <div class="form-group">
            <label th:for="content">글 내용</label>
            <textarea cols="150" rows="10" id="contents" th:field="*{content}"
                      class="form-control" th:value="${postDto.content}" readonly>
            </textarea>
        </div>
        <br/>
        <div class="row">
            <div class="col">
                <a href="#" th:href="@{/posts/{id}/edit (id=${postId})}"
                   class="btn btn-primary" role="button">수정</a>
            </div>
        </div>
    </form>
    <form role="form" th:object="${postDto}" th:action="@{/posts/{id}/delete (id=${postId})}"
          method="post">
        <div class="col">
            <input type="hidden" value="delete"/>
            <button id="delete-post" class="btn btn-primary">삭제</button>
        </div>
    </form>
    <br/>
</div> <!-- /container -->

<hr>
<hr>

<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>작성자</th>
            <th>내용</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="commentDto : ${commentDtos}">
            <td th:text="${commentDto?.id}"></td>
            <td th:text="${commentDto?.nickname}"></td>
            <td th:text="${commentDto?.content}"></td>
        </tr>
        </tbody>
    </table>
</div>

<hr>

<form th:href="'javascript:de('+${postDto.id}+')'" th:object="${commentForm}" style="text-align: center"
      method="post">
    <div class="comment-form" style="display: inline-block">
        <div class="form-group">
            <label for="member">작성 회원</label>
            <select name="memberStringId" id="member" class="form-control">
                <option value="">회원선택</option>
                <option th:each="member : ${members}"
                        th:value="${member.id}"
                        th:text="${member.nickname}" />
            </select>
        </div>
        <label th:for="content">댓글 작성란</label>
        <input type="text" th:field="*{content}" class="comment-control" id="input_text"
               placeholder="댓글을 입력하세요" style="width:250px;height:150px;">
        <button disabled="disabled" id="commentBtn" type="submit" class="btn btn-primary">작성</button>
    </div>
</form>
</body>
<script>
    $(document).ready(function () {
        $('#input_text').on('input change', function () {
            if ($(this).val() != '') {
                $('#commentBtn').prop('disabled', false);
            }
            else {
                $('#commentBtn').prop('disabled', true);
            }
        });
    });
    function de(id) {
        const form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/posts/" + id + "/detail");
        document.body.appendChild(form);
        form.submit();
    }
</script>
<div th:replace="fragments/footer :: footer" />
</html>