<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <div>
            <form th:object="${postSearch}" class="form-inline">
                <div class="form-group mb-2">
                    <input type="text" th:field="*{titleOrContent}" class="formcontrol" placeholder="제목+내용"/>
                </div>
                <div class="form-group mb-2">
                    <input type="text" th:field="*{nickname}" class="formcontrol" placeholder="작성자 활동명"/>
                </div>
                <button type="submit" class="btn btn-primary mb-2">검색</button>
            </form>
        </div>

        <div style="float: right">
            <a href="#" class="btn-light">최신순</a>
            <a href="#" class="btn-light">호감순</a>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>글 id</th>
                <th>글 제목</th>
                <th>작성자</th>
                <th>조회수</th>
                <th>공감수</th>
                <th>등록일</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="postDto : ${postDtos}">
                <td th:text="${postDto.id}"></td>
                <td th:text="${postDto.title}"></td>
                <td th:text="${postDto.nickname}"></td>
                <td th:text="${postDto.views}"></td>
                <td th:text="${postDto.likes}"></td>
                <td th:text="${postDto.postDate}"></td>
                <td>
                    <a th:href="@{/posts/{id}/detail (id=${postDto.id})}"
                       class="btn-light">상세보기</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>