<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="py-5 text-center">
        <h2>비밀게시판 목록</h2>
    </div>

    <div style="float: right">
        <a href="#" class="btn-light">최신순</a>
        <a href="#" class="btn-light">호감순</a>
    </div>

    <hr class="my-4">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>글 id</th>
                <th>글 제목</th>
                <th>작성자</th>
                <th>조회수</th>
                <th>공감수</th>
                <th>등록일</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="postDto : ${secretPosts}">
                <td th:text="${postDto.id}"></td>
                <td th:text="${postDto.title}"></td>
                <td th:text="${postDto.nickname}"></td>
                <td th:text="${postDto.views}"></td>
                <td th:text="${postDto.likes}"></td>
                <td th:text="${postDto.postDate}"></td>
                <td>
                    <a href="#"
                       th:href="'javascript:deta('+${postDto.id}+')'"
                       class="btn-light">상세보기</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script>
    function deta(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "get");
        form.setAttribute("action", "/posts/" + id + "/detail");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>