<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" th:object="${postDto}"  th:action="@{/posts/updatePostForm}"
          method="post">
        <div class="form-group">
            <label th:for="postId">글 ID</label>
            <input type="text" th:field="*{id}" class="form-control"
                   th:value="${postDto.id}" readonly>
        </div>
        <div class="form-group">
            <label th:for="nickname">작성자</label>
            <input type="text" th:field="*{nickname}" class="form-control"
                   th:value="${postDto.nickname}" readonly>
        </div>
        <div class="form-group">
            <label th:for="views">조회수</label>
            <input type="text" th:field="*{views}" class="form-control"
                   th:value="${postDto.views}" readonly>
        </div>
        <div class="form-group">
            <label th:for="likes">공감수</label>
            <input type="text" th:field="*{likes}" class="form-control"
                   th:value="${postDto.likes}" readonly>
        </div>
        <div class="form-group">
            <label th:for="postdate">작성일</label>
            <input type="text" th:field="*{postDate}" class="form-control"
                   th:value="${postDto.postDate}" readonly>
        </div>
        <div class="form-group">
            <label th:for="title">글 제목</label>
            <input type="text" th:field="*{title}" class="form-control"
                   th:value="${postUpdateForm.title}">
        </div>
        <div class="form-group">
            <label th:for="content">글 내용</label>
            <textarea cols="150" rows="10" id="contents" th:field="*{content}"
                      class="form-control" th:value="${postUpdateForm.content}">
            </textarea>
        </div>
        <br/>
        <div class="row">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>