<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Check</title>
</head>
<body>
<div>
    <form class="form-control" th:action="@{/passwordChange}" th:object="${passwordChangeForm}"
        method="post">
        <div class="form-group">
            <label for="newPassword">새로운 비밀번호 입력</label>
            <input id="newPassword" type="password" th:field="*{newPassword}" placeholder="새로운 비밀번호를 입력하세요" required autofocus>
        </div>
        <div class="form-group">
            <label for="newPasswordConfirm">새로운 비밀번호 입력</label>
            <input id="newPasswordConfirm" type="password" th:field="*{newPasswordConfirm}" placeholder="새로운 비밀번호를 입력하세요" required autofocus>
        </div>
        <button class="btn btn-primary" type="submit">변경하기</button>
    </form>
</div>
</body>
<!--리다이렉트 될때 전달되는 "message" 를 확인하여 창을 닫을 지 결정하는 함수 작성 필요-->
</html>