<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <br/>
    <div class="row g-5">
       <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">내 정보</h4>
            <form role="form" th:object="${memberDto}" th:action="@{/myPages/updateProfileForm}"
                  method="post">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label th:for="name" class="form-label">이름</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name"
                        th:value="${memberDto.name}">
                    </div>

                    <div class="col-sm-6">
                        <label th:for="nickname" class="form-label">활동명</label>
                        <input type="text" th:field="*{nickname}" class="form-control" id="nickname"
                               th:value="${memberDto.nickname}">
                    </div>

                    <div class="col-12">
                        <label th:for="loginId" class="form-label">로그인 아이디(이메일)</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text">@</span>
                            <input type="text" th:field="*{loginId}" class="form-control" id="loginId"
                                   th:value="${memberDto.loginId}">
                        </div>
                    </div>

                    <div class="col-12">
                        <label th:for="city" class="form-label">도시</label>
                        <input type="text" th:field="*{city}" class="form-control" id="city"
                               th:value="${memberDto.city}">
                    </div>

                    <div class="col-12">
                        <label th:for="street" class="form-label">도로명</label>
                        <input type="text" th:field="*{street}" class="form-control" id="street"
                               th:value="${memberDto.street}">
                    </div>

                    <div class="col-12">
                        <label th:for="zipcode" class="form-label">우편번호</label>
                        <input type="text" th:field="*{zipcode}" class="form-control" id="zipcode"
                               th:value="${memberDto.zipcode}">
                    </div>
                </div>

                <hr class="my-4">

                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
       </div>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>